{% extends 'layout.html' %}
{% block body %}
<h1 class='text-center text-muted mb-3'>Solo Games</h1>
<p class='text-right'><a href='{{url_for("register_solo_game")}}' class='btn btn-success '>Register Solo Game</a></p>
<table class='table table-bordered'>
  <caption>Recent solo games</caption>
  <thead>
  <th>Blue</th>
  <th>Red</th>
  <th>Score</th>
  <th>Date</th>
  </thead>
  <tbody>
  {% for row in recent_solo_games %}
  <tr>
    {% if row.blue_score > row.red_score %}
    <td style="color:green">{{row.blue_name}}</td>
    <td style="color:red">{{row.red_name}}</td>
    {% else %}
    <td style="color:red">{{row.blue_name}}</td>
    <td style="color:green">{{row.red_name}}</td>
    {% endif %}
    <td>{{row.blue_score}} - {{row.red_score}}</td>
    <td>{{row.created_timestamp}}</td>
  </tr>
  {%endfor%}
  </tbody>
</table>
{% endblock %}